<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>738341240649-ii5aeon7ac841qonv5ol5ff5ttc2eloo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.738341240649-ii5aeon7ac841qonv5ol5ff5ttc2eloo</string>
	<key>API_KEY</key>
	<string>AIzaSyAXKh4A1lbyIRRJUwksYztKLEsXFMZeXIs</string>
	<key>GCM_SENDER_ID</key>
	<string>738341240649</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.HumaneTransport</string>
	<key>PROJECT_ID</key>
	<string>humane-transport-7e5c0</string>
	<key>STORAGE_BUCKET</key>
	<string>humane-transport-7e5c0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:738341240649:ios:897d6fb663d4376af9a498</string>
	<key>DATABASE_URL</key>
	<string>https://humane-transport-7e5c0-default-rtdb.firebaseio.com</string>
</dict>
</plist>
